//@import "public/assets/logo.svg";
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Lato);



body {
  h1 {
    height: 40px;
    background-color: white;
  }
}

.navigation{
  display:flex;
  flex-flow: row wrap;
  height: 40px;
  background-color: #6d6e71;
  font-family: 'Oswald', sans-serif;
  //font-family: 'Lato', sans-serif;
  align-items: center;
  justify-content: space-around;
  nav {
    display: block;
    a {
    flex: 1 0 auto;
    background-color: #6d6e71;
    border-color: white;
    margin-right: 5px;
    margin-left: 5px;
    color: grey;
    text-decoration: none;
    }
  }
}

.container{
  //display: block;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/bg.jpg");
  // margin: 50px;
  padding-top: 30px;
  height: 100%;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;

  .post{
    flex: 0 0 300px;
    background-color: #FFF;

    .picture{

      img{
        margin-top: 10px;
        width: 50px;
        height: 50px;
      }
    }
  }
}




