body h1 {
  height: 60px;
  background-color: red; }

.navigation {
  background-color: black; }

.container {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/bg.jpg");
  padding-top: 30px;
  height: 100%;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px; }
  .container .post {
    flex: 0 0 300px;
    background-color: #FFF; }
    .container .post .picture img {
      width: 50px;
      height: 50px; }
